#mapID { top: 15px ;width: 1100px; height: 1070px; background-color: #333;}

.legendSVG {
    height:170px;
    line-height: 19px;
    color: #555;
    padding: 0px 0px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: block;
}

#stackedWidget{
    position: absolute;
    left: 1220px;
    top: 270px;
    display: block;
    width: 800px;
    height: 370px;
}

#timeTableWidget{
    position: absolute;
    left: 1220px;
    top: 560px;
    display: block;
}

#placeIDWidget{
    position: absolute;
    left: 1220px;
    top: 770px;
    display: block;
}

#timeSeriesValueOption{
    position: relative;
    left: 5px;
    top: 5px;
    display: block;
}

#modeDiv{
    position: relative;
    left: 0px;
    top: 0px;
    display: block;
    border: 1px solid #CCC;
    border-radius: 1em;
    width: 1500px;
}

#formDiv{
    position: relative;
    left: 1120px;
    top: -970px;
    display: block;    
}

#boxPlotWidget {
    position: relative;
    left: 1120px;
    top: -400px;
    display: block;
}

#equidepthWidget {
    position: relative;
    left: 1120px;
    top: -1300px;
    display: block;
}

#bandWidget {
    position: relative;
    left: 1120px;
    top: -1300px;
    display: block;
}

#timeSeriesSelectionLabel{
    position: relative;
    left: 95px;
    top: -12px;
    display: block;
}

#timeSeriesDiv{
    position: absolute;
    left: 1220px;
    top: 5px;
    display: block;
}

.controls{
    line-height: 19px;
    color: #555;
    padding: 0px 0px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.layersControl{
    line-height: 30px;
    color: #555;
    padding: 0px 0px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(../resources/layers.png);
    display: block;
}

.layersControl-expanded .layersList {
    display: block;
    position: relative;
}

.layersControl .layersList{
    display: none;
}

#placeIDTextLabel{
    position: relative;
    left: 5px;
    top:5px;
    display: block;
}

#placeIDTextInput{
    position: relative;
    left: 70px;
    top:-15px;
    display: block;
}

#placeIDQueryButton{
    position: relative;
    left: 580px;
    top:-35px;
    display: block;
}

#placeIDLabel{
    position: relative;
    left: 610px;
    top:-300px;
    display: block;
}

/********************/
#placeQueryDiv {
    /* Apenas para centralizar o form na página */
    margin: -800 1250;
    width: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

#placeFeaturesDiv {
    /* Apenas para centralizar o form na página */
    margin: -950 1130;
    width: 500px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.placeForm div + div {
    margin-top: 1em;
}

.placeForm label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}

.placeForm input, textarea {
    /* Para certificar-se que todos os campos de texto têm as mesmas configurações de fonte. Por padrão, textareas ter uma fonte monospace*/
    font: 1em sans-serif;

    /* Para dar o mesmo tamanho a todos os campo de texto */
    width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 1px solid #999;
}

.placeForm textarea {
    /* Para alinhar corretamente os campos de texto de várias linhas com sua label*/
    vertical-align: top;

    /* Para dar espaço suficiente para digitar algum texto */
    height: 10em;

    /* Para permitir aos usuários redimensionarem qualquer textarea verticalmente. Ele não funciona em todos os browsers */
    resize: vertical;
}

.button {
    /* Para posicionar os botões para a mesma posição dos campos de texto */
    margin-left: 90px; /* mesmo tamanho que os elementos do tipo label */
}
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
}
